import init.smdk4210.fstab.rc
import init.smdk4210.usb.rc

on early-init
    export EXTERNAL_STORAGE  /mnt/sdcard
    export SECONDARY_STORAGE /mnt/emmc

    mkdir /mnt         0775 system system
    mkdir /mnt/sdcard  0755 system system
    mkdir /mnt/emmc    0775 system system
    mkdir /mnt/usbdisk 0775 system system
    mkdir /efs         0771 radio  system
    mkdir /preload     0771 system system
    mkdir /mnt/.lfs    0755 root   root

    # for backwards compatibility
    symlink /mnt/sdcard /sdcard
    symlink /mnt/emmc   /emmc

# Disable CFQ slice idle delay
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0

# FIXME: permissions for tvout
    chown media graphics /sys/class/switch/hdmi
    chmod 0777           /dev/graphics/fb0
    chmod 0777           /dev/graphics/fb10
    chmod 0777           /dev/graphics/fb11
    chmod 0777           /sys/class/switch/hdmi

# FIXME: permission for HDMI audio path
    chown media audio /sys/class/hdmi_audio/hdmi_audio/hdmi_audio_set_ext
    chmod 0777        /sys/class/hdmi_audio/hdmi_audio/hdmi_audio_set_ext

on fs

    mount ext4 /dev/block/mmcblk0p1 /efs nosuid nodev noatime wait

    chown radio system   /efs/bluetooth
    chown radio system   /efs/wifi
    chmod 0775           /efs/bluetooth
    chmod 0775           /efs/wifi

    mkdir /data/misc/vpn/profiles 0770 system system
    mkdir /data/misc/radio        0775 radio  system

on post-fs-data

    # ismod kernel modules
    insmod /system/lib/modules/j4fs.ko

    # mount param.lfs
    mount j4fs /dev/block/mmcblk0p4 /mnt/.lfs


    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw

    # GPS
    mkdir /data/gps     771 system system
    chown root   system /dev/ttySAC1
    chown root   system /sys/class/sec/gps/GPS_PWR_EN/value
    chown root   system /sys/class/sec/gps/GPS_nRST/value
    chown system system /data/gps
    chmod 0660          /dev/ttySAC1
    chmod 0664          /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664          /sys/class/sec/gps/GPS_nRST/value

    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/dhcp         0770 dhcp dhcp
    mkdir /data/misc/dhcpcd       0770 dhcp dhcp
    mkdir /system/etc/wifi        0770 wifi wifi
    mkdir /data/misc/wifi         0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chown dhcp dhcp /data/misc/dhcp
    chown dhcp dhcp /data/misc/dhcpcd
    chown wifi wifi /system/etc/wifi
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi
    chown wifi wifi /data/misc/wifi/sockets
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    chmod 0770      /data/misc/dhcp
    chmod 0770      /data/misc/dhcpcd
    chmod 0770      /system/etc/wifi
    chmod 0660      /system/etc/wifi/wpa_supplicant.conf
    chmod 0770      /data/misc/wifi
    chmod 0770      /data/misc/wifi/sockets
    chmod 0660      /data/misc/wifi/wpa_supplicant.conf

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775 root root
    chown root root                 /system/etc/security/.drm
    chmod 0775                      /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm            0775 drm system
    mkdir /data/data/.drm/.playready 0775 drm system
    chown drm system                 /data/data/.drm
    chown drm system                 /data/data/.drm/.playready
    chmod 0775                       /data/data/.drm
    chmod 0775                       /data/data/.drm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775 root root
    chown root root            /system/lib/drm
    chmod 0775                 /system/lib/drm

    # DivX DRM
    chown media system       /efs/.files/.dx1
    chown media system       /efs/.files/.dm33
    chown media system       /efs/.files/.mp301
    chmod 0775               /efs/.files/.dx1
    chmod 0775               /efs/.files/.dm33
    chmod 0775               /efs/.files/.mp301

    # terminal mode
    chown system system /sys/class/android_usb/android0/terminal_version
    chmod 0660          /sys/class/android_usb/android0/terminal_version

    # setup for alsa snd device
    chmod 0770 /dev/snd/pcmC0D0c
    chmod 0770 /dev/snd/pcmC0D0p
    chmod 0770 /dev/snd/controlC0
    chmod 0770 /dev/snd/timer
    chmod 0770 /dev/snd/hwC0D0

    # create log system
    mkdir /data/log 0775 system log
    chown system log    /data/log
    chmod 0775          /data/log
    chmod 0775          /data/anr

    chmod 0662 /dev/log/radio
    chmod 0662 /dev/log/main
    chmod 0662 /dev/log/event

    # panorama directory creation
    mkdir /data/pxtmpdir 0775 system system
    chown system system /data/pxtmpdir
    chmod 0775          /data/pxtmpdir

    # Permissions for gpio_keys.
    chown system radio /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys  102,116

    # Add permission for ATM.
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_current_now
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_full_check
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_check
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_type
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_vol
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/capacity
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/charging_source
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/fg_reg
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/fg_soc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/reset_soc

    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/power_supply/battery/battery_temp

    # Permissions for input devices
    chown system radio /sys/devices/virtual/sec/sec_key/sec_key_pressed

    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_firm_version
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_threshould
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_all_delta
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_all_refer
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta4
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer4
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta3
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer3
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta2
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer2
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta1
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer1
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta0
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer0
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/disp_all_deltadata
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/disp_all_refdata
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_module_off
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_module_on

    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_version_panel
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_version_phone
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_update_status
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_update
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_threshold
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/mxt_touchtype

    # Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttySAC0
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0600                /dev/ttySAC0
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # Vibetonz
    chown root shell /dev/tspdrv
    chmod 0660       /dev/tspdrv

    # Permissions for LCD
    chown system radio  /sys/class/lcd/panel/lcd_power
    chown system radio  /sys/class/lcd/panel/lcdtype
    #chown system system /sys/class/backlight/panel/auto_brightness

    # Permissions for mDNIe
    chown system media_rw /sys/class/mdnie/mdnie/background_effect
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system media_rw /sys/class/mdnie/mdnie/negative
    write /sys/class/mdnie/mdnie/scenario 4

    # Permissions for uart_sel and usb_sel
    chown system radio /sys/class/sec/sec_switch/uart_sel
    chown system radio /sys/class/sec/sec_switch/usb_sel
    chown system radio /mnt/.lfs/sw_sel

    # Permissions for OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0664         /sys/class/host_notify/usb_otg/booster

    # Permission for radio
    chown system radio /sys/devices/platform/s5p-ehci/ehci_power
    chown system radio /sys/devices/platform/s5p-ehci/ehci_runtime
    chown system radio /sys/devices/virtual/misc/multipdp/waketime

    # for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

    # DVFS - cpufreq ondemand
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential 5
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 85

    # Permissions for dvfs lock
    chown system system /sys/power/cpufreq_max_limit
    chown system system /sys/power/cpufreq_min_limit
    chmod 0660          /sys/power/cpufreq_max_limit
    chmod 0660          /sys/power/cpufreq_min_limit

    chown system system /sys/power/gpu_lock
    chmod 0660          /sys/power/gpu_lock

    # Permissions for sensors
    chown root system /dev/accelirq
    chown root system /dev/timerirq
    chmod 0660        /dev/accelirq
    chmod 0660        /dev/timerirq

    chown radio system /sys/devices/virtual/sec/sec_mpu3050/gyro_selftest
    chown radio system /sys/devices/virtual/sec/sec_mpu3050/gyro_get_temp
    chown radio system /sys/devices/virtual/sec/sec_mpu3050/gyro_power_on
    chown system system /sys/class/sensors/accelerometer_sensor/calibration

    # permissions for torch
    chown system system /sys/devices/virtual/camera/rear/rear_flash
    chmod 666           /sys/devices/virtual/camera/rear/rear_flash

    # for device encryption
    setprop vold.post_fs_data_done 1

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # Device Encryption by B2B Security Lab.
    setprop ro.crypto.keyfile.userdata /efs/metadata

    # fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# Wifi
service wpa_supplicant /system/bin/wpa_supplicant \
        -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    group system wifi inet
    socket wpa_wlan0 dgram 0660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service bccmd /system/bin/bccmd -t bcsp -d /dev/ttySAC0 \
        -b 115200 psload -r /system/etc/PSConfig_8811.psr
    class main
    group bluetooth net_bt_admin
    disabled
    oneshot

service hciattach /system/bin/hciattach -n \
        -p /dev/ttySAC0 bcsp 3000000 flow
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media wil be created with user and group media_rw
service sdcard /system/bin/sdcard /data/media 1023 1023
    class late_start

# TVout
service TvoutService_C /system/bin/bintvoutservice
    class main
    user system
    group graphics

service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    socket gps seqpacket 0660 gps system
    user gps
    group system inet sdcard_rw
