/dev/mali                 0666   system     system
/dev/ump                  0666   system     system
/dev/ion                  0666   system     system
/dev/exynos-mem           0666   system     system
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/video3               0660   system     camera
/dev/s5p-jpeg             0660   system     camera
/dev/s3c-mem              0666   system     system
/dev/s3c-mfc              0666   system     system

/dev/i2c-7                0666   system     system
/dev/pmem                 0666   system     graphics
/dev/pmem_gpu1            0660   system     graphics
/dev/HPD                  0666   system     system
/dev/fimg2d               0666   system     graphics
/dev/srp                  0666   system     audio
/dev/block/mmcblk0p8      0660   system     radio
/dev/rfkill               0666   root       root

# bluetooth
/dev/ttySAC0              0600   bluetooth  bluetooth

# datarouter
/dev/dun                  0660   system     system
/dev/ttyGS0               0660   system     system

# gps
/dev/ttySAC1              0660   root       system

# sensors
/dev/akm8975              0660   system     system
/dev/mpu                  0660   system     system
/dev/mpuirq               0660   system     system
/dev/timerirq             0660   system     system

# sound
/dev/snd/*                0660   system     audio

# TV Out
/dev/graphics/fb0         0660   system     graphics
/dev/video14              0660   system     graphics
/dev/video21              0660   system     graphics
